# NetCDF
*.nc

# --- SO / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python/Conda caches
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.env/
.venv/
.envrc

# Editors
.vscode/
.idea/

# Backups do Vim
*.swp
*.swo
*.un

# Temp / Logs / outputs
*.log
*.orig
*.tmp

# --- Notebooks (se quiser versionar depois, remove esta linha) ---
*.ipynb

# --- PDFs gerados (mas permite PDFs dentro de figs/) ---
*.pdf
!figs/**/*.pdf

# --- Não ignore as figuras (qualquer coisa em figs/) ---
!figs/
!figs/**
